@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.banner{
    height: 584px;
}

.card:hover{
    background-color: rgba(49, 109, 165, 0.836);
}

/* .card-body h1, h2, p, ul li{
    color: black;
} */

.card:hover ul li{
    color: white;
}

.card:hover h1{
    color: white;
}
.card:hover h3{
    color: white;
}
.card:hover p{
    color: white;
}

.card:hover .card-footer button{
    background-color: white;
}
.card-body ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.card-body ul li:before {
    content: '✓  ';
}
.card-body ul li{
    margin: 5px 0;
}
.badges{
    visibility: hidden;
}

.card:hover .badges{
    visibility: visible;
}
#footer1{
    height: 50px;
    display: block;
}
#footer2{
    height: 47px;
    display: block;
}