@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.banner{
    height: 584px;
}

.card:hover{
    background-color: rgba(49, 109, 165, 0.836);
}

.badges{
    visibility: hidden;
}

.card:hover .badges{
    visibility: visible;
}
#footer1{
    height: 50px;
    display: block;
}
#footer2{
    height: 47px;
    display: block;
}